

.gradient::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(
          to right,
          white,
          rgba(white, 0) 80px,
          rgba(white, 0) calc(100% - 80px),
          white
        );
}